<h1>This is the show page</h1>

<p>
  <a href="/students">
    See all Students
  </a>
</p>

<p>
  <a href="/students/<%= @student.id %>/edit">
    Edit Student
  </a>
</p>

<p>
  Name: <%= @student.name %>
</p>

<p>
  Age: <%= @student.age %>
  <form action="/students/<%= @student.id %>/increase" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit" value="⬆️">
  </form>
</p>

<p>
  Hometown: <%= @student.hometown %>
</p>

<form action="/students/<%= @student.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Take to the farm upstate.">
</form>

<h2>Projects</h2>

<a href="/projects/new">
  Make a new Project
</a>

<% if @student.projects.any? %>

  <ul>
    <% @student.projects.each do |project| %>
      <li>
        <%= project.name %>
      </li>
    <% end %>
  </ul>

<% else %>

  <p>This person does not have any projects.</p>

<% end %>



















<!--  -->
