<h1>Show Page</h1>

<%= link_to "Take us to the kennel", doggos_path %>

<p>
  Name: <%= @doggo.name %>
</p>
<p>
  House: <%= @doggo.house %>
</p>
<p>
  Wand Core: <%= @doggo.wand_core %>
</p>

<%= button_to "Avada Kedavra", @doggo, method: :delete %>
<%= link_to "Edit this Doggo", edit_doggo_path(@doggo) %>

<h2>All the Spells</h2>

<ul>
  <% @doggo.doggo_spells.each do |doggo_spell| %>
    <li>
      <%= link_to "#{doggo_spell.spell.incantation} - #{doggo_spell.location}", spell_path(doggo_spell.spell_id) %>
    </li>
  <% end %>
</ul>

<%= link_to "Log a Spell", dog_spell_for_what_path(@doggo) %>

<h2>Log a Spell</h2>

<%= form_for(@doggo_spell) do |f| %>
  <%= f.hidden_field :doggo_id, value: @doggo.id %>

  <%= f.label :location %>
  <%= f.text_field :location %>


  <%= f.label :spell_id %>
  <%= f.collection_select :spell_id, @spells, :id, :incantation %>

  <%= f.submit %>
<% end %>














<!--  -->
